.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: rem(48);
  padding: 0 rem(30);
  background-color: var(--a-mainBg);
  z-index: 5;

  &__logo {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(100);
    }
  }
}
