:root {
  // Base
  --a-white: #fff;
  --a-black: #000;

  --a-mainAccent: #0937dd;

  // Typography
  --a-mainText: #0d0a19;
  --a-headerText: #878c99;
  --a-accentText: #1f44ce;

  // Background
  --a-mainBg: #e9eaec;
  --a-bgAccent: #2a50d8;
  --a-bgAccentLight: #e2eafb;
  --a-bgLight: #f3f3f3;

  // Border
  --a-borderMain: #b4bacc;
  --a-borderLight: #d0d5e5;
}
